.card {
  text-align: center;
  background-color: #00c86f26;
  padding: 32px;
  position: relative;
}

.card h3 {
  font-family: "Prata", serif;
  font-size: 32px;
  font-weight: 400;
  border-bottom: 4px solid;
  display: inline-block;
  padding-bottom: 8px;
}

.colaboradores {
  display: flex;
  justify-content: space-evenly;
  margin-top: 32px;
  flex-wrap: wrap;
}

.inputCor {
  position: absolute;
  top: 20px;
  right: 50px;
}
